[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
thoth-storages = "*"
prometheus-client = "*"
thoth-python = "*"
prometheus-async = "*"
confluent-kafka = "*"
thoth-common = "*"
thoth-messaging = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "<=6.47.0"
pytest-mypy = "*"
mypy = "*"
pre-commit = "==2.0.1"

[requires]
python_version = "3.8"
