[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
thoth-common= "*"
thoth-messaging= "*"
thoth-storages= "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"

[requires]
python_version = "3.6"
